<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>com.tienda.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCompra</servlet-name>
        <servlet-class>com.tienda.controller.ServletCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoClientes</servlet-name>
        <servlet-class>com.tienda.controller.ServletListadoClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoProveedores</servlet-name>
        <servlet-class>com.tienda.controller.ServletListadoProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPdtosCliente</servlet-name>
        <servlet-class>com.tienda.controller.ServletPdtosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReportePdto</servlet-name>
        <servlet-class>com.tienda.controller.ServletReportePdto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProveedor</servlet-name>
        <servlet-class>com.tienda.controller.ServletProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarCompra</servlet-name>
        <servlet-class>com.tienda.controller.ServletEditarCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCompra</servlet-name>
        <url-pattern>/ServletCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoClientes</servlet-name>
        <url-pattern>/ServletListadoClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoProveedores</servlet-name>
        <url-pattern>/ServletListadoProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPdtosCliente</servlet-name>
        <url-pattern>/ServletPdtosCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReportePdto</servlet-name>
        <url-pattern>/ServletReportePdto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProveedor</servlet-name>
        <url-pattern>/ServletProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarCompra</servlet-name>
        <url-pattern>/ServletEditarCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
